<!DOCTYPE html>
<html>
  <head>
    <title>Authenticate test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %></h1>
    <h1><%= password %></h1>
    <h1><%= redirect %></h1>
    <h1>Post</h1>

  </body>
</html>
