<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method='POST'>
        <label for="username">Username</label>
        <input type='text' id='username' name='username'>
        <label for='password'>Password</label>
        <input type='password' id='password' name='password'>
        <% if(redirectInQuery) { %>
            <input type='hidden' id='redirect' name='redirect' value=<%= redirect %>>
        <% }%>
        <input type='submit' value='Login'>
    </form>
    
  </body>
</html>
