
<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <!-- <form>
        
    </form> -->
    <h1><%- title %></h1>
    <p><%- body %></p>
  </body>
</html>
